<head>
    <meta charset='UTF-8'>
</head>
<body>

    <div class="backoffice_background">
        <%= render partial: "layouts/backoffice_header" %>
      </div>
      <%= render partial: "layouts/backoffice_navbar" %>
</body>
