    <p> Seja bem vindo, <%= current_user.display_name %> ! </p>
    <br>
    <%= link_to 'Meus Dados', user_path(current_user.id) %>
    <br>
    <%= link_to 'Sair', destroy_user_session_path, method: 'delete' %>
    <hr>
