<div class="auth_background"></div>

<div class="auth_form" id="landing_choice">
    <h2 class="dinnerdash_title">dinnerdash</h2>
    <hr>

    <p>Seja bem vindo, <%= current_user.display_name %>!</p>

    <%= link_to 'Meus Dados', user_path(current_user.id), class: 'btn btn-success' %>
    <%= link_to 'Sair', destroy_user_session_path, method: 'delete', class: 'btn btn-success' %>
</div>
