<div class="auth_background">


</div>
<div class="auth_form" id="landing_choice">
    <h2 class="dinnerdash_title"> dinnerdash</h2>
    <hr>
    <%= link_to 'Cadastrar', new_user_registration_path, class: 'btn btn-success' %>
    
    <%= link_to 'Entrar na conta' ,user_session_path, class: 'btn btn-success' %>
</div>