<p class="dinnerdash_title"> dinnerdash</p>
<%= link_to 'Cadastrar', new_user_registration_path, class: 'btn btn-success' %>

<%= link_to 'Entrar na conta' ,user_session_path, class: 'btn btn-success' %>
<hr>
    <p> Seja bem vindo ao dinnerdash ! </p>
    <br>
    <p> Monte seu prato </p>
    <br>
    <p> Escolha o que deseja adicionar </p>
    <hr>